body{
    background-color: lightslategray;
    text-align: center;
    
}

h2{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
    background-color: lightseagreen;
    margin-top: 40px;
    padding: 25px;
}

img{
    margin-top: 50px;
}
.flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.house-image{
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 3px solid black;
    
}

.jesse-image{
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    height: auto;
    border: 3px solid black;

}

.restaurant-image1{
    width: 100%;
    max-width: 700px;
    height: auto;
    border: 3px solid black;

}

.restaurant-image2{
    width: 100%;
    max-width: 700px;
    height: auto;
    border: 3px solid black;

}

.self-image{
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    height: auto;
    border: 3px solid black;
}